@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span">Wypis Osb&oacute;b Zaginionych</span></h1>
    <p class="lead"><em><strong>Sprawdź osoby przechodząc do zakładki OSOBY ZAGINIONE</strong></em></p>
    <p><em><strong>Jeśli chcesz zgłosić osobę zaginioną skontaktuj się z administratorem bądź odpowiednią jednostką policji, kt&oacute;a ma odpowiednie uprawnienia.</strong></em></p>
    <p><em><strong>112 - TELEFON RATUNKOWY</strong></em></p>
</div>

<div class="row">
   
</div>